{{ define "comp-header" }}

<style>
    header {
        display: flex;
        padding: 0.5rem;
        background-color: #27272a;
        border-bottom: 2px solid #3f3f46;
    }
</style>

<header>
    <a href="./view?x=1&y=1" class="button">
        <div style="height: 1.2rem; width: 1.4rem;">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8" />
                <path
                    d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
            </svg>
        </div>
        <div> FFMPEG to JSMPEG </div>
    </a>
    <div style="flex-grow: 1;"></div>
    <a href="./add" class="button">
        <div style="height: 1.2rem; width: 1.4rem;">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14" />
                <path d="M12 5v14" />
            </svg>
        </div>
        <div> Add Stream </div>
    </a>
</header>

{{ end }}