{{ define "page" }}

<style>
    #streams {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        gap: 2px;

        background-color: #3f3f46;

        overflow: hidden;
    }

    #streams>div {
        display: grid;
        place-content: center;

        background-color: #09090b;

        overflow: hidden;
    }

    .stream {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .stream canvas {
        overflow: hidden;
        max-width: 100%;
        max-height: 100%;

        background-color: #09090b;
    }

    .settings-bar {
        width: 100%;
        padding: 0.4rem;

        display: flex;
        gap: 0.4rem;

        background-color: #18181b;
    }

    .settings-bar .button {
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
</style>

<script>
    const players = {}
    function startStream(canvasId, streamId) {
        if (streamId === "0") {
            const newCanvasHtml = `<canvas id="canvas-${canvasId}"></canvas>`
            document.getElementById('canvas-' + canvasId).outerHTML = newCanvasHtml
            return
        }
        players[canvasId]?.destroy()
        const protocal = location.protocol === "https:" ? "wss" : "ws"
        const url = `${protocal}://${location.host}/ws/${streamId}`
        console.log(`Starting JSMpeg on canvas-${canvasId}`, url)
        players[canvasId] = new JSMpeg.Player(url, {
            canvas: document.getElementById('canvas-' + canvasId)
        })
    }
    function onSelectStream(event, canvasId) {
        const streamId = event.target.value
        document.getElementById('start-' + canvasId).setAttribute("hx-get", `/api/stream/start/${streamId}`)
        document.getElementById('stop-' + canvasId).setAttribute("hx-get", `/api/stream/stop/${streamId}`)
        document.getElementById('remove-' + canvasId).setAttribute("hx-delete", `/api/stream/remove/${streamId}`)
        htmx.process(document.body)
        startStream(canvasId, streamId)
    }
</script>

<main id="streams">

    {{ range $Index, $Watch := $.Watching }}

    <div class="stream">

        <div class="settings-bar">

            <select onchange="onSelectStream(event, '{{ $Index }}')" class="button">

                <option value="0" title="0" selected>None</option>

                {{ range $Stream := $.Streams }}

                {{ if eq $Stream.Id $Watch.Id }}
                <option value="{{ $Stream.Id }}" title="{{ $Stream.Id }}" selected>
                    {{ $Stream.Name }}
                </option>
                {{ else }}
                <option value="{{ $Stream.Id }}" title="{{ $Stream.Id }}">
                    {{ $Stream.Name }}
                </option>
                {{ end }}

                {{ end }}

            </select>

            <div id="status-{{ $Index }}" style="flex-grow: 1;"> </div>

            <button id="start-{{ $Index }}" hx-get="/api/stream/start/{{ $Watch.Id }}" hx-swap="none" class="button">
                <div style="height: 16px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polygon points="6 3 20 12 6 21 6 3" />
                    </svg>
                </div>
            </button>

            <button id="stop-{{ $Index }}" hx-get="/api/stream/stop/{{ $Watch.Id }}" hx-swap="none" class="button">
                <div style="height: 16px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <rect width="18" height="18" x="3" y="3" rx="2" />
                    </svg>
                </div>
            </button>

            <button id="remove-{{ $Index }}" hx-delete="/api/stream/remove/{{ $Watch.Id }}" hx-swap="none"
                hx-confirm="Are you sure you want to delete this Stream?" class="button">
                <div style="height: 16px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M3 6h18" />
                        <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
                        <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
                    </svg>
                </div>
            </button>

        </div>

        <canvas id="canvas-{{ $Index }}"></canvas>
        <script>
            startStream("{{ $Index }}", "{{ $Watch.Id }}")
        </script>

    </div>

    {{ end }}

</main>

<script>
    document.getElementById("streams").style.gridTemplateRows = `repeat( {{ .GridY }} , 1fr)`
    document.getElementById("streams").style.gridTemplateColumns = `repeat( {{ .GridX }} , 1fr)`
</script>

{{ end }}