*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
    font: inherit;
}

html {
    height: 100svh;
    color-scheme: light dark;
    font-family: sans-serif;
}

body {
    margin: 0;
    height: 100%;

    color: #e4e4e7;
    background-color: #09090b;
}

hr {
    width: 100%;
    border: none;
    border-radius: 99px;
    height: 2px;
    background-color: #3f3f46;
}

/* Inputs */

.button {
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;

    display: flex;
    align-items: center;
    gap: 0.4rem;

    padding: 0.4rem 0.8rem;
    border: 2px solid transparent;
    border-radius: 0.3rem;

    color: #e4e4e7;
    background-color: transparent;
}

@media (hover: hover) {

    .button:hover,
    .button:focus-visible {
        background-color: #3f3f46 !important;
    }

    .button:active {
        background-color: #27272a !important;
    }

}

.input {
    font-size: 1rem;

    padding: 0.4rem 0.8rem;
    border: 2px solid #3f3f46;
    border-radius: 0.3rem;

    color: #e4e4e7;
    background-color: #18181b;
}

/* Layout */

.grid {
    display: grid;
    align-content: flex-start;
}

.flex {
    display: flex;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-4 {
    gap: 1rem;
}

.pad-2 {
    padding: 0.5rem;
}

.pad-4 {
    padding: 1rem;
}